$confirmed-color: #448aff;
$death-color: #ff5252;
$recovered-color: #b2ff59;
$active-color: #ffff00;


.main-container {
    background-color: #00002d;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: #eff5fc;
    overflow: hidden;
  
    .header {
      margin-top: 10px;
      .title {
        font-size: 50px;
        font-weight: bold;
        margin-left: 210px;
      }
      .date {
        float: right;
        font-size: 30px;
        line-height: 66px;
        font-weight: 700;
        margin-right: 30px;
      }
    }
    .details-container {
      display: flex;
      justify-content: center;
      .right-panel {
        width: 80%;
      }
    }


    @media screen and (max-width: 800px) {
      min-height: 100vh;
      font-size: calc(1vw + 2vmin);
  
      .header {
        margin-top: 2vw;
        .title {
          font-size: 8vw;
          margin-left: 18vw;
        }
        .date {
          font-size: 3vw;
          line-height: 10vw;
          margin-right: 3vw;
        }
      }
  
      .details-container {
        display: block;
        .right-panel {
          width: 100%;
        }
      }
    }
}




  
